.profile {
  background-color: #eee;
  padding: 10px; }
  .profile hr {
    margin-left: auto;
    margin-right: auto;
    width: 80%; }
  .profile .header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #444; }
  .profile .password {
    text-align: right;
    padding: 10px; }
  .profile .box {
    margin-bottom: 5px; }
  .profile .status td, .profile .privacy td {
    text-align: left; }

.login, .registration {
  padding: 10px;
  background-color: #eee; }
  .login .header, .registration .header {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444; }

.chat .text-muted {
  color: #999; }
.chat .selection {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #ddd;
  overflow: auto;
  overflow-x: hidden; }
  .chat .selection .select {
    background-color: #3f51b5;
    box-shadow: black 0px 0px 2px;
    margin: 10px;
    padding: 10px;
    text-align: center; }
    .chat .selection .select h3 {
      margin: 0;
      color: white;
      font-size: 18px; }
  .chat .selection .chat {
    background-color: #fff;
    margin: 10px;
    box-shadow: #555 0px 0px 2px; }
    .chat .selection .chat i {
      color: #999; }
    .chat .selection .chat .time {
      font-size: 12px; }
    .chat .selection .chat:hover {
      cursor: pointer;
      background-color: #efefef; }
.chat .conversation {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #E1E5EC;
  height: 100%; }
.chat .addMessage {
  border-bottom: 1px #b6b6b6 solid;
  text-align: right;
  padding: 5px; }
.chat .chat {
  padding: 10px;
  border-bottom: 1px #e1e1e1 solid;
  /*border-top: 1px #ffffff solid;*/ }
.chat .chat.active {
  background-color: #008CBA;
  color: white; }
.chat .conversation .top {
  padding: 9px 5px 8px 5px;
  border-bottom: 1px #cecece solid; }
.chat .conversation .bottom {
  margin: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px; }
.chat .conversation .bottom form {
  position: relative; }
.chat .conversation .bottom .loading {
  position: absolute;
  top: 10px;
  right: 8px;
  color: #178D00; }
.chat .conversation .messages {
  position: absolute;
  top: 49px;
  bottom: 56px;
  left: 5px;
  right: 5px;
  overflow: auto; }
.chat .conversation .messages table {
  height: 100%;
  width: 100%;
  margin: 0;
  table-layout: fixed; }
.chat .conversation .messages .message {
  margin: 5px;
  padding: 8px;
  clear: both;
  border-radius: 5px;
  max-width: 75%;
  word-wrap: break-word; }
.chat .conversation .timestamp {
  padding: 10px;
  clear: both;
  text-align: center;
  font-size: 10px;
  color: #545454; }
.chat .conversation .messages .message.sender {
  float: right;
  background-color: #92C4F9; }
.chat .conversation .messages .message.receiver {
  float: left;
  background-color: #d6d6d6; }
.chat input {
  width: 100%;
  font-size: 18px; }
.chat input.to {
  width: 400px;
  font-size: 30px;
  border: none;
  background-color: #E1E5EC; }
.chat .back {
  position: relative;
  top: -7px;
  margin-right: 5px; }
.chat .back, .chat .to {
  display: inline-block; }

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.mdl-layout__header-row, .mdl-layout__tab-bar-container, .mdl-layout__tab-bar {
  height: 44px;
  overflow: visible; }

.mdl-layout__tab-bar-container {
  height: 43px; }

.mdl-layout__tab {
  height: 44px;
  line-height: 42px; }
  .mdl-layout__tab:focus {
    outline: none; }
  .mdl-layout__tab:hover {
    color: white; }
  .mdl-layout__tab.is-active {
    border-bottom: 3px solid white;
    color: white; }

.main-action-button {
  bottom: 2em;
  right: 4em;
  position: absolute; }

.plus-spread {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .plus-spread.vertical {
    flex-direction: column; }
  .plus-spread.align-bottom {
    align-items: bottom; }
  .plus-spread.pull-left {
    justify-content: flex-start; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.mdl-layout-title .mdl-button {
  color: white; }

.mdl-layout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

.mdl-layout__container {
  height: 100%;
  position: absolute;
  width: 100%; }

.mdl-layout__content {
  background: #f9f9f9;
  transition: 200ms ease-in-out;
  transform: translateX(0px);
  display: flex;
  flex-direction: row;
  justify-content: center; }

.page-content {
  flex-grow: 1;
  width: 100%;
  max-width: 1060px;
  z-index: 1;
  background: #f9f9f9; }
  .page-content::-webkit-scrollbar {
    display: none; }

/* Post styling */
.feed {
  list-style: none;
  padding: 0.75em; }

.post {
  background: white;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-radius: 3px; }

.post-score {
  color: #999;
  margin-right: 0.25em; }

.post-comments {
  font-size: 0.9em; }

.action {
  cursor: pointer; }

/* Dialog */
.modal-dialog, .modal-backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .modal-dialog .modal-content, .modal-backdrop .modal-content {
    position: absolute;
    top: 2em;
    right: 2em;
    bottom: 2em;
    left: 2em;
    background: white;
    box-shadow: 1px 1px 10px #555;
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 1em; }
    .modal-dialog .modal-content .submit, .modal-backdrop .modal-content .submit {
      margin-top: 12px; }
    .modal-dialog .modal-content h2, .modal-backdrop .modal-content h2 {
      margin-top: 5px; }
    .modal-dialog .modal-content label, .modal-backdrop .modal-content label {
      display: block;
      font-size: 0.9em; }
    .modal-dialog .modal-content h5, .modal-backdrop .modal-content h5 {
      display: inline-block;
      margin: 0; }
    .modal-dialog .modal-content textarea, .modal-backdrop .modal-content textarea {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 1em; }
    .modal-dialog .modal-content input, .modal-backdrop .modal-content input {
      outline: none; }
    .modal-dialog .modal-content .modal-title, .modal-backdrop .modal-content .modal-title {
      padding-bottom: 1em;
      border-bottom: 1px solid #ddd; }
    .modal-dialog .modal-content .profile, .modal-backdrop .modal-content .profile {
      background: white; }
    .modal-dialog .modal-content .submit, .modal-backdrop .modal-content .submit {
      margin-top: 1em; }

.modal-backdrop {
  opacity: 0.3;
  background-color: #555; }

/*# sourceMappingURL=main.css.map */
