<div class="login">
    <p class="header">Username</p>
    <div class="username mdl-textfield">
        <input name="username" type="text"
               ng-model="username"
               class="mdl-textfield"/>
    </div>

    <p class="header">Password</p>
    <div class="password">
    <div class="username mdl-textfield">
        <input name="password" type="text"
               ng-model="password"
               class="mdl-textfield"/>
    </div>

    <div class="submit-button">
        <button class="mdl-button mdl-button--raised mdl-button--accent">
            Login
        </button>
    </div>
</div>
