<div class="plus-spread">
  <h4 class="display: inline-block">Community Board</h4>
  <a class="mdl-button mdl-button--primary mdl-button--raised"
     ng-show="!!Session.user.id" ng-click="showLeaders()">
    Chat with Community Leaders
  </a>
</div>
<hr />
<ul class="feed">
  <li class="post" ng-repeat="post in community.list track by $index">
    <div class="post-inner" ng-click="viewComments(post)">
      <div class="plus-spread">
        <div class="plus-spread pull-left">
          <i ng-click="upvote(post, $event)"class="material-icons action">arrow_drop_up</i>
          <div class="post-title"> {{post.title}} </div>
          <div class="post-author"> {{visibleName(post.author)}} </div>
        </div>
        <span class="plus-spread">
          <span class="post-comments action"
                ng-click="viewComments(post, $event)">{{post.comments.length + " comments"}}</span>
          <i ng-click="flag(post, $event)" class="material-icons action flag">flag</i>
        </span>
      </div>
    </div>
  </li>
</ul>

<div class="main-action-button"
     ng-show="!!Session.user.id">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
          ng-click="postStory()">
    <i class="material-icons">add</i>
  </button>
</div>
