<div class="chat">
    <div class="selection">
        <div class="text-center select">
            <h3>Select a conversation, or click the button to start a new chat.</h3>
        </div>
        <div class="chat" ng-click="selectConversation(fake)">
            <i>Chat with:</i> my fav, my other fav <br/>
            <div class="time">12 seconds ago</div>
        </div>
        <div class="chat" ng-class="{'active': $parent.selected.key == user.key}" ng-click="selectConversation(user)" ng-repeat="user in users | orderBy: '-latest'">
            <i>Chat with:</i> {{ user.name }} <br/>
            <div class="time">{{ user.latest }}</div>
        </div>
        <div class="main-action-button">
            <button ng-click="newConversation()" class=" mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>
    <div class="conversation" ng-hide="selected === undefined">
        <div class="top" style="width: 100%;">
            <button class="back mdl-button mdl-button--raised mdl-button--accent" ng-click="selectConversation(undefined)">
                &laquo; Go Back
            </button>
            
            <input type="text" class="to" placeholder="Recipients" ng-model="selected.alias">
        </div>
        <div class="messages" id="messages">
            <table>
                <tr>
                    <td valign="bottom">
                        <div ng-repeat="(index, message) in selected.messages | reverse">
                            <div ng-if="index > 0 ? (selected.messages[selected.messages.length - index].timestamp.getTime() + 300000) < message.timestamp.getTime() : true" class="timestamp">
                                {{ message.timestamp | date:"MMMM d h:mm a"}}
                            </div>
                            <div class="message" ng-class="{ 'sender': message.sender, 'receiver': !message.sender }">
                                {{ message.message }}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="bottom">
            <form role="form" ng-submit="send()">
                <i ng-show="sending" class="fa fa-circle-o-notch fa-spin loading"></i>
                <input class="form-control" ng-disabled="sending" ng-model="newMessage" type="text" id="newMessageText" placeholder="Message">
            </form>
        </div>
    </div>
</div>
