.chat {
    .text-muted {
        color: #999;
    }
    
    .selection {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: #ddd;

        overflow: auto;
        overflow-x: hidden;

        .select {
            background-color: #3f51b5;
            // border: 1px solid #999;
            box-shadow: black 0px 0px 2px;

            margin: 10px;
            padding: 10px;
            text-align: center;

            h3 {
                margin: 0;
                color: white;
                font-size: 18px;
            }
        }

        .chat {
            background-color: #fff;
            margin: 10px;
            box-shadow: #555 0px 0px 2px;

            i {
                color: #999;
            }

            .time {
                font-size: 12px;
            }

            &:hover {
                cursor: pointer;
                background-color: #efefef
            }
        }
    }

    .conversation {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: #E1E5EC;
        height: 100%;
    }

    .addMessage {
        border-bottom: 1px #b6b6b6 solid;
        text-align: right;
        padding: 5px;
    }

    .chat {
        padding: 10px;
        border-bottom: 1px #e1e1e1 solid;
        /*border-top: 1px #ffffff solid;*/
    }

    .chat.active {
        background-color: #008CBA;
        color: white;
    }

    .conversation .top {
        padding: 9px 5px 8px 5px;
        border-bottom: 1px #cecece solid;
    }

    .conversation .bottom {
        margin: 10px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    .conversation .bottom form {
        position: relative;
    }

    .conversation .bottom .loading {
        position: absolute;
        top: 10px;
        right: 8px;
        color: #178D00;
    }

    .conversation .messages {
        position: absolute;
        top: 62px;
        bottom: 40px;
        left: 5px;
        right: 5px;
        overflow: auto;
    }

    .conversation .messages table {
        height: 100%;
        width: 100%;
        margin: 0;
        table-layout: fixed;
    }

    .conversation .messages .message {
        margin: 5px;
        padding: 8px;
        clear: both;
        border-radius: 5px;
        max-width: 75%;
        word-wrap: break-word;
    }

    .conversation .timestamp {
        padding: 10px;
        clear: both;
        text-align: center;
        font-size: 10px;
        color: #545454;
    }

    .conversation .messages .message.sender {
        float: right;
        background-color: #92C4F9;
    }

    .conversation .messages .message.receiver {
        float: left;
        background-color: #d6d6d6;
    }

    input {   
        width: 100%;
        font-size: 16px;
    }
    
    input.to {
        width: 400px;
        font-size: 30px;
        border: none;
        background-color: #E1E5EC;
    }

    .back {
        position: relative;
        top: -7px;
        margin-right: 5px;
    }

    .back, .to {
        display: inline-block;
    }
}
