.login, .registration {
    padding: 10px;
    
    background-color: #eee;

    .header {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #444;
    }
}
