@import 'profile'
@import 'login'

=no-select()
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

*, *:after, *:before
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  +no-select()

.mdl-layout__header-row, .mdl-layout__tab-bar-container, .mdl-layout__tab-bar
  height: 44px
  overflow: visible

.mdl-layout__tab-bar-container
  height: 43px

.mdl-layout__tab
  height: 44px
  line-height: 42px
  &:focus
    outline: none

  &:hover
    color: white

  &.is-active
    border-bottom: 3px solid white
    color: white

.main-action-button
  bottom: 2em
  right: 4em
  position: absolute

.plus-spread
  display: flex
  justify-content: space-between
  align-items: center
  &.vertical
    flex-direction: column
  &.align-bottom
    align-items: bottom
  &.pull-left
    justify-content: flex-start
.full-width
  width: 100%
.full-height
  height: 100%

.mdl-layout-title .mdl-button
  color: white

.mdl-layout
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0

.mdl-layout__container
  height: 100%
  position: absolute
  width: 100%
  
.mdl-layout__content
  background: #f9f9f9
  transition: 200ms ease-in-out
  transform: translateX(0px)
  display: flex
  flex-direction: row
  justify-content: center
  
.page-content
  flex-grow: 1
  width: 100%
  max-width: 1060px
  &::-webkit-scrollbar 
    display: none
  z-index: 1
  background: #f9f9f9

/* Post styling */

.feed
  list-style: none
  padding: .75em

.post
  background: white
  width: 100%
  margin-bottom: .5em
  padding: .5em 1em
  border: 1px solid #ddd
  border-bottom: 2px solid #ddd
  border-radius: 3px

.post-score
  color: #999
  margin-right: .25em

.post-comments
  font-size: .9em

.action
  cursor: pointer

/* Dialog */
  
.modal-dialog, .modal-backdrop
  position: fixed
  display: flex
  align-items: center
  justify-content: center
  overflow: auto
  -webkit-overflow-scrolling: touch
  z-index: 10000
  top: 0
  right: 0
  bottom: 0
  left: 0

  .modal-content
    position: absolute
    top: 2em
    right: 2em
    bottom: 2em
    left: 2em 
    background: white
    box-shadow: 1px 1px 10px #555 
    font-size: 1.1em
    line-height: 1.5em
    padding: 1em
    .submit
      margin-top: 12px
    h2
      margin-top: 5px
    label
      display: block
      font-size: .9em
    h5 
      display: inline-block
      margin: 0
    textarea
      width: 100%
      outline: none
      border: none
      border-bottom: 1px solid #ccc
      font-size: 1em
    input
      outline: none
    .modal-title
      padding-bottom: 1em
      border-bottom: 1px solid #ddd
    .profile
      background: white
    .submit
      margin-top: 1em 

.modal-backdrop
  opacity: .3
  background-color: #555
