.profile {
    background-color: #eee;
    padding: 10px;

    hr {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .header {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: #444;
    }

    .password {
        text-align: right;
        padding: 10px;
    }

    .box {
        margin-bottom: 5px;
    }

    .status td, .privacy td {
        text-align: left;
    }

    input {
        
    }
}
